@media (min-width: 768px) {
  .border-md-left {
    border-left: 1px solid #eee;
  }
  .border-md-right {
    border-right: 1px solid #eee;
  }

  .light-border-md-left {
    border-left: 0.25rem solid #fff;
  }
  .light-border-md-right {
    border-right: 0.25rem solid #fff;
  }
}

a {
  text-decorations: none;
  color: inherit;
}

.work-card {
  background: #fafafa;
}
