 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>HTML | CSS | Bootstrap | Android-Layout | Markdown | Adobe Photoshop | XML | Less-CSS Preprocessor</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Java | Javascript | C++ | Python | Android | C# | NodeJS | MEAN | Ionic | PHP | Data Structure</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Git | MongoDB | MySql | Android Studio | Visual Studio | Linux | Windows | VSCode</p>
    </div>
</div>
