<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/orga-app.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Open Event Organizer Android App</h3>
    <ul>
      <li>Java, RxJava 2, Dagger 2, Okhttp+Retrofit, Android, Glide, Leakcanary, Mockito Framework, DbFlow ORM etc.</li>
      <li>Google Summer of Code 2017, FOSSASIA</li>
    </ul>
    <p>An Event Managing Android App with the core features of Attendee Check In by QR Code Scan and Data Sync with the Open Event API Server. The app is designed on the Model View Presenter Architecture with each feature implemented in the app has a complete coverage of unit tests.</p>
    <a class="project-link" href="https://summerofcode.withgoogle.com/archive/2017/projects/5132564838744064/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/kb.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Kb - The Soft Keyboard</h3>
    <ul>
      <li>Java, C#, Sockets, Networking, Android, Responsive UI</li>
    </ul>
    <p>The Android App provides a complete wireless keyboard interface for windows PC with a responsive layout which adjusts according to screen dimension.</p><p>Currently, the app is available at Amazon Play Store.</p>
    <a class="project-link" href="https://www.amazon.com/dp/B01LINRFYG">Check it out</a>
  </div>
</div>
